body{
    margin: 0;
    font-family:  Helvetica, sans-serif;
    background: #9b040e;
    color: rgb(3, 72, 40);
}

.cabecera{
    position: sticky;
    top: 0;
    background: #f2f3fa;
    padding: 15px 0;
    z-index: 1000;
    border-bottom: 2px solid #09683c;
    box-shadow: 0 4px 15px rgba(255, 42, 138, 0,6);
}

.barra-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para la tarjeta de bootsrap */
.card{
    width: 100%;
    color: #004f2a;
    background: rgba(235, 231, 231, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}


@media(max-width: 768px){
    .barra-navegacion{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .enlaces-navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;
    }

    .enlaces-navegacion a{
        /* display: block;
        width: 100%; */
        color: #9d1321;
    }
}